:root {
  --background: #c2c8c5;
  --logoColor: #4a707a;
  --accent: #7697a0;
  --fonts: Montserrat, Helvetica;
}


/*LOGIN PAGE*/
body {
  background-color: var(--background);
  font-family: var(--fonts);
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

#slogan {
  font-weight: 100;
  font-size: 30px;
}

.loginPane {
  text-align: center;
}

.loginPane img {
  padding: 5% 0 0 0;
}



/*HOMEPAGE*/
.sidebar {
  background-color: var(--accent);
  width: 20vh;
  height: 100%;
  text-align: center;
  float: left;
}

.sidebar li {
  padding: 2vh 2vh 2vh 0;
  list-style: none;
  text-decoration: none;
  float: left;
}

.sidebar li:hover {
  background-color: #98b1b8s;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

#homepageLogo {
  width: 20vh
}
